@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .chat-sidebar {
        width: 22em;
        overflow-y: auto;
        background-color: #1f1f1f;
        margin: 0 1rem 0 0;
		border-radius: 0.5rem;
        height: 95vh;
    }


    .chat-item{
        background-color: transparent;
    }

    .chat-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0.5rem;
    }

    .chat-item.active {
        background-color: rgba(255, 255, 255, 0.1);
        color: #212529;
        border-width: 0;
        border-radius: 0.5rem;
        border-top-width: 0px !important;
    }
</style>

<link rel="stylesheet" href="~/css/chatting.css" asp-append-version="true" />
<div class="d-flex h-100 py-3">
    <div class="chat-sidebar d-flex flex-column">
        <div class="p-3 d-flex align-items-center justify-content-between">
            <div class="input-group rounded w-75">
                <input type="search" class="form-control rounded  " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            </div>
            <div class="p-2" id="createGroupPopup">
                <i class="fas fa-users fs-5 text-white"></i>
            </div>
        </div>

        <div class="list-group list-group-flush flex-grow-1 px-2" id="chatList">
        </div>
    </div>

    <div id="chat-content" class="chat-content text-white  d-flex flex-column">
        <div class="chat-header d-flex justify-content-between align-items-center">
            <div class="d-flex gap-2">
                <img id="chat-avatar" src="https://scontent.fhan15-1.fna.fbcdn.net/v/t39.30808-6/482019444_122183994404333369_5508670626021919815_n.png?stp=dst-jpg_tt6&_nc_cat=109&ccb=1-7&_nc_sid=2285d6&_nc_ohc=6Wm8HoVrr7YQ7kNvwHAcI2-&_nc_oc=AdndOHVw3uGmQPQe8GJR0VlBYXB-B8Oz49gzWSTKb3zb61Bwfnc_SYEQSf3NtGfGGwk&_nc_zt=23&_nc_ht=scontent.fhan15-1.fna&_nc_gid=_7k3Dmuxuu1TZTW0kieKqA&oh=00_AfNPJihpfAgRqDEA3_3Jiem3JZtvAvVgBiPrCg1OCXWSVQ&oe=6854629C" class="avatar" alt="">
                <div>
                    <h6 class="mb-0" id="chat-name">Cloud của tôi</h6>
                    <small class="text-muted">Lưu và đồng bộ dữ liệu giữa các thiết bị</small>
                    <input type="hidden" id="chat-id" />
                    <input type="hidden" id="chat-type" />
                </div>
            </div>
        </div>

        <div id="chat-messages" class="chat-messages d-flex flex-column">
            <div id="loading-spinner" class="text-center my-2" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <div class="chat-footer">
            <div id="preview-wrapper" class="mb-2 d-flex gap-2 flex-wrap"></div>

            <div class="d-flex align-items-center gap-2">
                <input type="file" id="file-input" multiple class="d-none"  accept="image/*,video/*,.pdf,.doc,.docx,.txt">
                <i class="bi bi-paperclip fs-5 text-primary" role="button" id="btn-select-file"></i>
                <input type="text" class="form-control" id="chat-input" placeholder="Nhập tin nhắn tới Cloud của tôi">
                <i class="fas fa-paper-plane fs-5 text-primary" id="btn-send" role="button"></i>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/chatting.js" asp-append-version="true"></script>
<script>
    $(function () {
        $('#chatList').on('click', '.chat-item', function (e) {
            e.preventDefault();
            $('.chat-item').removeClass('active');
            $(this).addClass('active');
        });
        fetchChatItem();
        function fetchChatItem() {
            $('#loading-spinner').show();
            $('#chat-messages').children().not('#loading-spinner').hide();
            $.ajax({
                url: API_URL + '/api/Message/list-chat',
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    if (result.success) {
                        var data = result.data;
                        var chatList = $('#chatList');
                        chatList.empty();
                        data.forEach(function (item, index) {
                            var contentSlice = "";
                            if (item.contentPreview != null) {
                                contentSlice = item.contentPreview.length > 20 ? item.contentPreview.slice(0, 18) + "..." : item.contentPreview;
                            }
                            var chatItem = $(`
                                <a href="#" class="list-group-item border-0 list-group-item-action text-white d-flex gap-2 align-items-center chat-item ${index === 0 ? 'active' : ''}" onclick="openChat(${item.id},'${item.name}', '${item.avatar}',${item.type})">
                                    <img src="${item.avatar}" width="40" class="avatar" alt="">
                                    <div class="flex-grow-1">
                                        <div class="d-flex justify-content-between">
                                            <strong>${item.name}</strong>
                                            <small class="text-muted">${timeToNow(item.time)}</small>
                                        </div>
                                            <div class="text-muted text-truncate">${contentSlice}</div>
                                    </div>
                                </a>
                            `);

                            chatList.append(chatItem);
                        });

                        if (data.length > 0) {
                            if (data[0].type == 0) {
                                fetchMessageUser(data[0].id)
                            } else if (data[0].type == 1) {
                                fetchMessageInGroup(data[0].id)
                            }
                        } else {
                            $('#loading-spinner').hide();
                            $('#chat-messages').children().not('#loading-spinner').show();
                        }
                    } else {
                        console.error(result.message);
                    }
                },
                error: function (error) {
                    console.error("Error fetching chat items:", error);
                }
            })
        }
    });
</script>
}

